.ribbon {
    padding: 5px 12px;
    -webkit-box-shadow: 2px 5px 10px rgba(33,37,41,.15);
    box-shadow: 2px 5px 10px rgba(33,37,41,.15);
    color: #fff;
    font-size: .8125rem;
    font-weight: 600;
    position: absolute;
    left: -1px;
    top: 10px
}
 .ribbon.round-shape {
    border-radius: 0 30px 30px 0
}
 .ribbon.ribbon-shape {
    display: inline-block
}
 .ribbon.ribbon-shape::before {
    content: "";
    position: absolute;
    right: -17px;
    top: 0;
    border: 14px solid transparent
}
 .ribbon.ribbon-shape::after {
    content: "";
    position: absolute;
    right: -17px;
    bottom: 0;
    border: 14px solid transparent
}
.ribbon-circle .ribbon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 20px;
    top: 20px
}
.ribbon-fill {
    overflow: hidden
}
.ribbon-fill .ribbon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 93px;
    height: 52px;
    left: -36px;
    top: -16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}
.ribbon-fill.ribbon-sm .ribbon {
    padding: 2px 12px;
    width: 78px;
    height: 42px;
    font-size: 12px;
    -webkit-box-shadow: none;
    box-shadow: none
}
.right .ribbon {
    position: absolute;
    left: auto;
    right: 0
}
.right .ribbon.round-shape {
    border-radius: 30px 0 0 30px
}
.right .ribbon.ribbon-shape {
    text-align: right
}
.right .ribbon.ribbon-shape::after.right .ribbon.ribbon-shape::before {
    right: auto;
    left: -17px;
    border-left-color: transparent
}
.right.ribbon-circle .ribbon {
    left: auto;
    right: 20px
}
.right .icon-ribbon {
    right: 24px;
    left: auto
}
.right.ribbon-fill .ribbon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -38px;
    left: auto
}
.righ .ribbon-two {
    left: auto;
    right: -5px
}
.righ .ribbon-two span {
    left: auto;
    right: -21px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
 .ribbon-content {
    clear: both
}
 .ribbon-primary {
    background: #405189
}
 .ribbon-primary:before {
    border-color: #303c66 transparent transparent
}
 .ribbon-primary.ribbon-shape::before {
    border-left-color: #405189;
    border-top-color: #405189
}
 .ribbon-primary.ribbon-shape::after {
    border-left-color: #405189;
    border-bottom-color: #405189
}
.right .ribbon-primary {
    background: #405189
}
.right .ribbon-primary.ribbon-shape::before {
    border-right-color: #405189;
    border-top-color: #405189
}
.right .ribbon-primary.ribbon-shape::after {
    border-right-color: #405189;
    border-bottom-color: #405189
}
 .ribbon-secondary {
    background: #3577f1
}
 .ribbon-secondary:before {
    border-color: #105ae3 transparent transparent
}
 .ribbon-secondary.ribbon-shape::before {
    border-left-color: #3577f1;
    border-top-color: #3577f1
}
 .ribbon-secondary.ribbon-shape::after {
    border-left-color: #3577f1;
    border-bottom-color: #3577f1
}
.right .ribbon-secondary {
    background: #3577f1
}
.right .ribbon-secondary.ribbon-shape::before {
    border-right-color: #3577f1;
    border-top-color: #3577f1
}
.right .ribbon-secondary.ribbon-shape::after {
    border-right-color: #3577f1;
    border-bottom-color: #3577f1
}
 .ribbon-success {
    background: #0ab39c
}
 .ribbon-success:before {
    border-color: #078372 transparent transparent
}
 .ribbon-success.ribbon-shape::before {
    border-left-color: #0ab39c;
    border-top-color: #0ab39c
}
 .ribbon-success.ribbon-shape::after {
    border-left-color: #0ab39c;
    border-bottom-color: #0ab39c
}
.right .ribbon-success {
    background: #0ab39c
}
.right .ribbon-success.ribbon-shape::before {
    border-right-color: #0ab39c;
    border-top-color: #0ab39c
}
.right .ribbon-success.ribbon-shape::after {
    border-right-color: #0ab39c;
    border-bottom-color: #0ab39c
}
 .ribbon-info {
    background: #299cdb
}
 .ribbon-info:before {
    border-color: #1e7eb3 transparent transparent
}
 .ribbon-info.ribbon-shape::before {
    border-left-color: #299cdb;
    border-top-color: #299cdb
}
 .ribbon-info.ribbon-shape::after {
    border-left-color: #299cdb;
    border-bottom-color: #299cdb
}
.right .ribbon-info {
    background: #299cdb
}
.right .ribbon-info.ribbon-shape::before {
    border-right-color: #299cdb;
    border-top-color: #299cdb
}
.right .ribbon-info.ribbon-shape::after {
    border-right-color: #299cdb;
    border-bottom-color: #299cdb
}
 .ribbon-warning {
    background: #f7b84b
}
 .ribbon-warning:before {
    border-color: #f5a51a transparent transparent
}
 .ribbon-warning.ribbon-shape::before {
    border-left-color: #f7b84b;
    border-top-color: #f7b84b
}
 .ribbon-warning.ribbon-shape::after {
    border-left-color: #f7b84b;
    border-bottom-color: #f7b84b
}
.right .ribbon-warning {
    background: #f7b84b
}
.right .ribbon-warning.ribbon-shape::before {
    border-right-color: #f7b84b;
    border-top-color: #f7b84b
}
.right .ribbon-warning.ribbon-shape::after {
    border-right-color: #f7b84b;
    border-bottom-color: #f7b84b
}
 .ribbon-danger {
    background: #f06548
}
 .ribbon-danger:before {
    border-color: #ec3d19 transparent transparent
}
 .ribbon-danger.ribbon-shape::before {
    border-left-color: #f06548;
    border-top-color: #f06548
}
 .ribbon-danger.ribbon-shape::after {
    border-left-color: #f06548;
    border-bottom-color: #f06548
}
.right .ribbon-danger {
    background: #f06548
}
.right .ribbon-danger.ribbon-shape::before {
    border-right-color: #f06548;
    border-top-color: #f06548
}
.right .ribbon-danger.ribbon-shape::after {
    border-right-color: #f06548;
    border-bottom-color: #f06548
}
 .ribbon-light {
    background: #f3f6f9
}
 .ribbon-light:before {
    border-color: #d1dde8 transparent transparent
}
 .ribbon-light.ribbon-shape::before {
    border-left-color: #f3f6f9;
    border-top-color: #f3f6f9
}
 .ribbon-light.ribbon-shape::after {
    border-left-color: #f3f6f9;
    border-bottom-color: #f3f6f9
}
.right .ribbon-light {
    background: #f3f6f9
}
.right .ribbon-light.ribbon-shape::before {
    border-right-color: #f3f6f9;
    border-top-color: #f3f6f9
}
.right .ribbon-light.ribbon-shape::after {
    border-right-color: #f3f6f9;
    border-bottom-color: #f3f6f9
}
 .ribbon-dark {
    background: #212529
}
 .ribbon-dark:before {
    border-color: #0a0c0d transparent transparent
}
 .ribbon-dark.ribbon-shape::before {
    border-left-color: #212529;
    border-top-color: #212529
}
 .ribbon-dark.ribbon-shape::after {
    border-left-color: #212529;
    border-bottom-color: #212529
}
.right .ribbon-dark {
    background: #212529
}
.right .ribbon-dark.ribbon-shape::before {
    border-right-color: #212529;
    border-top-color: #212529
}
.right .ribbon-dark.ribbon-shape::after {
    border-right-color: #212529;
    border-bottom-color: #212529
}
 .icon-ribbon {
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 24px;
    top: -12px;
    font-size: 40px;
    padding: 0
}
 .ribbon-two {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right
}
 .ribbon-two span {
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100px;
    display: block;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
    position: absolute;
    top: 19px;
    left: -21px;
    font-weight: 600
}
 .ribbon-two span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent
}
 .ribbon-two span:after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent
}
 .ribbon-two-primary span {
    background: #405189
}
 .ribbon-two-primary span:before {
    border-left: 3px solid #283255;
    border-top: 3px solid #283255
}
 .ribbon-two-primary span:after {
    border-right: 3px solid #283255;
    border-top: 3px solid #283255
}
 .ribbon-two-secondary span {
    background: #3577f1
}
 .ribbon-two-secondary span:before {
    border-left: 3px solid #0e51cb;
    border-top: 3px solid #0e51cb
}
 .ribbon-two-secondary span:after {
    border-right: 3px solid #0e51cb;
    border-top: 3px solid #0e51cb
}
 .ribbon-two-success span {
    background: #0ab39c
}
 .ribbon-two-success span:before {
    border-left: 3px solid #066b5d;
    border-top: 3px solid #066b5d
}
 .ribbon-two-success span:after {
    border-right: 3px solid #066b5d;
    border-top: 3px solid #066b5d
}
 .ribbon-two-info span {
    background: #299cdb
}
 .ribbon-two-info span:before {
    border-left: 3px solid #1a6f9d;
    border-top: 3px solid #1a6f9d
}
 .ribbon-two-info span:after {
    border-right: 3px solid #1a6f9d;
    border-top: 3px solid #1a6f9d
}
 .ribbon-two-warning span {
    background: #f7b84b
}
 .ribbon-two-warning span:before {
    border-left: 3px solid #eb990a;
    border-top: 3px solid #eb990a
}
 .ribbon-two-warning span:after {
    border-right: 3px solid #eb990a;
    border-top: 3px solid #eb990a
}
 .ribbon-two-danger span {
    background: #f06548
}
 .ribbon-two-danger span:before {
    border-left: 3px solid #da3412;
    border-top: 3px solid #da3412
}
 .ribbon-two-danger span:after {
    border-right: 3px solid #da3412;
    border-top: 3px solid #da3412
}
 .ribbon-two-light span {
    background: #f3f6f9
}
 .ribbon-two-light span:before {
    border-left: 3px solid #c0d0e0;
    border-top: 3px solid #c0d0e0
}
 .ribbon-two-light span:after {
    border-right: 3px solid #c0d0e0;
    border-top: 3px solid #c0d0e0
}
 .ribbon-two-dark span {
    background: #212529
}
 .ribbon-two-dark span:before {
    border-left: 3px solid #000;
    border-top: 3px solid #000
}
 .ribbon-two-dark span:after {
    border-right: 3px solid #000;
    border-top: 3px solid #000
}
.right .ribbon-three {
    position: absolute;
    top: -6.1px;
    right: 10px;
    left: auto
}

.ribbon-three {
    position: absolute;
    top: -6.1px;
    left: 10px
}

.ribbon-three span {
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px
}

.ribbon-three span::after,.ribbon-three span::before {
    position: absolute;
    content: ""
}

.ribbon-three span::before {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0
}

.ribbon-three span::after {
    height: 6px;
    width: 8px;
    left: -8px;
    top: 0;
    border-radius: 8px 8px 0 0
}

.ribbon-three::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-top: 10px solid
}

.ribbon-three-primary span {
    background: #405189
}

.ribbon-three-primary span:before {
    background: #405189
}

.ribbon-three-primary span:after {
    background: #303c66
}

.ribbon-three-primary::after {
    border-top-color: #405189
}

.ribbon-three-secondary span {
    background: #3577f1
}

.ribbon-three-secondary span:before {
    background: #3577f1
}

.ribbon-three-secondary span:after {
    background: #105ae3
}

.ribbon-three-secondary::after {
    border-top-color: #3577f1
}

.ribbon-three-success span {
    background: #0ab39c
}

.ribbon-three-success span:before {
    background: #0ab39c
}

.ribbon-three-success span:after {
    background: #078372
}

.ribbon-three-success::after {
    border-top-color: #0ab39c
}

.ribbon-three-info span {
    background: #299cdb
}

.ribbon-three-info span:before {
    background: #299cdb
}

.ribbon-three-info span:after {
    background: #1e7eb3
}

.ribbon-three-info::after {
    border-top-color: #299cdb
}

.ribbon-three-warning span {
    background: #f7b84b
}

.ribbon-three-warning span:before {
    background: #f7b84b
}

.ribbon-three-warning span:after {
    background: #f5a51a
}

.ribbon-three-warning::after {
    border-top-color: #f7b84b
}

.ribbon-three-danger span {
    background: #f06548
}

.ribbon-three-danger span:before {
    background: #f06548
}

.ribbon-three-danger span:after {
    background: #ec3d19
}

.ribbon-three-danger::after {
    border-top-color: #f06548
}

.ribbon-three-light span {
    background: #f3f6f9
}

.ribbon-three-light span:before {
    background: #f3f6f9
}

.ribbon-three-light span:after {
    background: #d1dde8
}

.ribbon-three-light::after {
    border-top-color: #f3f6f9
}

.ribbon-three-dark span {
    background: #212529
}

.ribbon-three-dark span:before {
    background: #212529
}

.ribbon-three-dark span:after {
    background: #0a0c0d
}

.ribbon-three-dark::after {
    border-top-color: #212529
}
 .trending-ribbon {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
 .trending-ribbon .trending-ribbon-text {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0
}
:hover .trending-ribbon {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
:hover .trending-ribbon .trending-ribbon-text {
    opacity: 1
}
.right .trending-ribbon {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.right .trending-ribbon .trending-ribbon-text {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0
}
.right:hover .trending-ribbon {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.right:hover .trending-ribbon .trending-ribbon-text {
    opacity: 1
}

.theme-btn-disabled{
    border: 1px solid #0089cf;
    background-color: #fff;
    color: #0089cf;
}

.pagination-nav{
    display: inline-block;
    text-align: left;
}

.ck-editor-description blockquote{
    border-left: none;
    background-image: url(../images/img9.jpg);
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 1;
    padding: 40px;
    position: relative;
    margin-top: 10px;
}

.ck-editor-description blockquote:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d233e;
    opacity: 0.8;
    z-index: -1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ck-editor-description blockquote p{
    line-height: 30px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
}

.ck-editor-description ul, .ck-editor-description ol{
    padding-bottom: 1rem!important;
    list-style-type: none;
}

.ck-editor-description ul li, .ck-editor-description ol{
    margin-bottom: 6px;
    color: #5d646d;
}

.ck-editor-description ul li:before, .ck-editor-description ol li:before{
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f192";
    margin-right: 5px;
}

.ck-editor-description ul li:before{
    color: #0089cf !important;
    content: "\f192";
}
.ck-editor-description ol li:before{
    color: #28a745!important;
    content: "\f00c";
}

.ck-editor-description{
    text-align: justify;
}

.custom_cta_title{
    width: 60%;
    margin: auto;
}
.custom_cta_subtitle {
    width: 50%;
    margin: auto;
}

.custom_gallery_size{
    height: 270px;
    object-fit: cover;
}

